[Desktop Entry]
Comment=
Exec=/home/pi/DEBUG_MENU
Icon=kdeconnect
Name=Debug Menu
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
