[Desktop Entry]
Comment=
Exec=/home/pi/MODEM
Icon=ModemManager
Name=Modem Manager (As Root)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
